<div class="container">
  <div class="row">
    <h1>Tipos de Pipes</h1>
  </div>
  <br>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Variable</th>
    <th scope="col">Pipe</th>
    <th scope="col">Resultado</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>{{ nombre}}</td>
    <td>uppercase</td>
    <td>{{ nombre | uppercase}}</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>{{ nombre}}</td>
    <td>lowercase</td>
    <td>{{ nombre | lowercase}}</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>{{ nombre}}</td>
    <td>slice:0:3</td>
    <td>{{ nombre | slice:0:3}}</td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>{{ nombre}}</td>
    <td>slice:0:3</td>
    <td>{{ nombre | slice:0:3}}</td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>{{ pi}}</td>
    <td>number:'1.1-5'</td>
    <td>{{ pi | number:'1.1-5' }}</td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>{{ pi}}</td>
    <td>percent:'2.2-2'</td>
    <td>{{ pi | percent:'2.2-2' }}</td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>{{ salario }}</td>
    <td>currency:'CLP':'symbol':'4.0'</td>
    <td>{{ salario | currency:'CLP':'symbol':'.0' }}</td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>{{ valorDePromesa }}</td>
    <td>async</td>
    <td>{{ valorDePromesa | async }}</td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>{{ fecha }}</td>
    <td>date</td>
    <td>{{ fecha | date }}</td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>{{ fecha }}</td>
    <td>date:'medium'</td>
    <td>{{ fecha | date:'medium' }}</td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>{{ fecha }}</td>
    <td>date:'yyyy - MMMM - dd (EEEE H:mm:ss) GGGG '</td>
    <td>{{ fecha | date:'yyyy - MMMM - dd (EEEE H:mm:ss) GGGG ' }}</td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>{{ nombre2 }}</td>
    <td>capitalizado</td>
    <td>{{ nombre2 | capitalizado:1:2}}</td>
  </tr>
  <tr>
    <th scope="row">5</th>
    <td>{{ nombre2 }}</td>
    <td>
      contrasenia
      <button type="button" (click)="activar = !activar" class="btn btn-primary">Activar</button>
    </td>
    <td>{{ nombre2 | contrasenia:activar}}</td>
  </tr>
  </tbody>
</table>
  <div class="row">
    <ul>
      <li>ngFor de un arreglo {{arreglo}} items con un slice:0:2 </li>
      <li *ngFor="let item of arreglo | slice:0:2">{{ item }} </li>
    </ul>
  </div>
  <div [class]="row">
    <h3>JSON Pipe</h3>
    <pre>{{ heroe | json}}</pre>
  </div>
  <div [class]="row">
    <h3>DOM Seguro</h3>
    <iframe width="560" height="315" [src]="video | domseguro:'youtube'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

</div>
